{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
    <h1>List of surveys</h1>
    <a href="{{url_for('add')}}"><button>Add new survey</button></a>
    <button class="refresh">Refresh table</button>
    <table class="list">
        <tr style="background-color: #369ff5">
            <th>Name</th>
        </tr>
        {% for survey in surveys %}
        <tr id="row-{{loop.index}}">
            <td><a href="{{url_for('details', id=survey.id)}}">{{ survey }}</a></td>
            <td><a href="{{url_for('edit', id=survey.id)}}"><button>Edit</button></a></td>
            <td><a href="{{url_for('delete', id=survey.id)}}"><button>Delete</button></a></td>
        </tr>
        {% endfor %}
    </table>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        const btn = document.querySelector('.refresh');
        btn.addEventListener("click", function(){
           $( ".list" ).load("/ .list");
        });
    </script>
{% endblock %}