{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
    <a href="{{ url_for('add') }}"><button>New survey</button></a>
    <table>
        <tr>
            <th>ID</th>
            <th>Age</th>
            <th>Height</th>
            <th>Gender</th>
            <th>Favorite color</th>
        </tr>
        {% for person in people %}
        <tr>
            <td>{{ person['id'] }}</td>
            <td>{{ person['age'] }}</td>
            <td>{{ person['height'] }}</td>
            <td>{{ person['gender'] }}</td>
            <td>{{ person['favorite_color'] }}</td>
            <td><a href="#"><button>Edit</button></a></td>
            <td><a href="#"><button>Delete</button></a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}